.container {
    display: grid;
    width: 100vw;
    padding: 32px;
    grid-template-columns: max-content max-content;
    grid-template-areas: 
    "A B"
    "A C";
    grid-gap: 32px;
    place-items: center;
    place-content: center;
}

@media (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}